$active-link: #5fcedc;

h3{
  color: #7bc5cf
}

.about{
    background-color:#1a1c1e;
    background-image: linear-gradient(45deg, #1C1C1C 0%, #111c24 100%);
}
.info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-text{
    color: whitesmoke;
    font-family: 'Unbounded', cursive;
    font-weight: 100;

    .links {
        text-align: center;
        margin-top: 10vmin;
    }

    h3 {
        text-align: center;
        margin-bottom: 3vmin;
       
    }
}



.strong{
  color: rgb(237, 129, 93)
}

.open{
  font-family: 'Unbounded', cursive;
  font-weight: 600;
  align-self: flex-start;
  border: none;
  background-color: transparent;
  color:white;
  // font-weight: bold;
  padding: 2px;
}

.open:hover{
  color:$active-link
}
.close{
  align-self: flex-end;
  border: none;
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
}
.close:hover{
color: $active-link;
}


.about-modal{
  background-image: linear-gradient(120deg, rgba(42, 43, 50, 0.578) 0%, rgba(34, 44, 51, 0.578) 20%);
  background-color: rgba(31,41,41,0.5);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 7px;

  color: white; 
  font-weight: 100;
  font-size: 0.9em;
  // font-family: 'Noto Sans Lepcha', sans-serif;
  font-family: 'Unbounded', cursive;
  text-align: justify;
   
  position: absolute;
  transform: translate(-50%,-50%);
  padding: 22.5px;
  padding-top: 1px;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: fit-content;
}


#modal-text{
  // height: 100%;//removed due to incorect txt display on small mobile screens in portrait
  // margin-top: 1vh;
  // max-height: fit-content;
  // overflow-x: auto;
  // padding: 7.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(98, 96, 96, 0.3);
  backdrop-filter: blur(8px);

  z-index: 1000;
}

.about-overlay{
  display: none;
}


.fa-user-tie{
  font-size: x-large;
}


.timeline-container{
  margin-top: 30px;
  max-width: 100%;
  min-width: 100%;
  font-size: 0.7rem;
}

.timeline-arrow{
  height: 0.5px;
  width:90px;
  background: linear-gradient(121.57deg, rgb(237, 129, 93) 70%, #7bc5cf 30.15%);
  margin:0 10px
}

.timeline-item{
  display: flex;
  flex-direction: column;
  align-items: center;

  h3{
    white-space: nowrap;
    font-weight: bold;
    // color: 
    // background: linear-gradient(121.57deg, rgb(255, 255, 255) 10%, rgba(255, 255, 255, 0.66) 30.15%);
    // background-clip:linear-gradient(121.57deg, rgb(255, 255, 255) 10%, rgba(255, 255, 255, 0.66) 30.15%);
    //   -webkit-background-clip: text;
    //   -webkit-text-fill-color: transparent;
  }

  p{
    width: 150px;
    color:rgb(246, 232, 206)
  }
}
#skills-title{
  margin-bottom: 0;
}
#skills-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}



.skills{
  align-self: center;
  width: 70%;
  min-width: max-content;
  display: grid;
  place-items: center stretch;
  // align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1.5rem;
}
.skill{
  display: flex;
  flex-direction: column;
  justify-content:start;
  font-weight: 100;
  font-size: 0.8rem;
  color: $main-title;
  height: 60px;
  // width: 100%;
  // border: 1px soli;
  .skill-title{
    display: flex;
    flex-direction:column;
    width:fit-content
  }
  .skill-title-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:start;
    align-items: center;
    width: fit-content
  }
  .skill-name{
    color: white;
    transition: all 0.25s ease-in;
  }
  .skill-icon{
    font-size: x-large;
  }
}





// section {
//   margin: 20px 0;
// }

// .timeline {
//   margin-top: 45px;
//   padding: 15px;
//   height: 200px;
//   width:100%;
//   /* display: grid;
//   grid-template-columns: 40% auto;
//   justify-content: center; */

//   display: flex;
//   justify-content: flex-end;
//   /* align-content: center ;
//   justify-content: center; */

//   border: 2px solid green;
//   margin-left: 50px
// }

// ul {
//   /* margin-top: 30px; */
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   list-style: none;
//   padding: 0;
// }

// li {
//   /* margin-bottom: 20px; */
//   position: relative;
//   padding: 0px 25px;
// }

// li p {
//   /* padding: 0 210px; */
//   transition: 1.5s;
// }

// .date {
//   position: absolute;

//   top: 30px;
//   left: -50px;
//   opacity: 0;
//   font-size: 12px;
//   transition: 1.5s;
// }



// .timeline-line {
//   background: rgb(228, 228, 228);
//   width: 5px;
//   border-radius: 50px;
//   position: relative;
//   justify-self: end;
// }

// .timeline-innerline {
//   position: absolute;
//   background: blue;
//   width: 5px;
//   border-radius: 50px;
//   height: 0%;

//   top: 0%;
//   left: 0%;

//   transition: 2s ease-out;
// }

// .timeline-point {
//   border: none;
//   position: absolute;

//   border-radius: 50%;
//   background: rgb(228, 228, 228);
//   width: 8px;
//   height: 8px;

//   top: 30px;
//   left: -5px;
//   transition: 1.5s ease;
// }


// @media screen and (min-width: 728px) {
//   .timeline {
//     display: block;

//   }

//   ul {
//     flex-direction: row;
//   }

//   li {
//     margin-top: 0px;
//     position: relative;
//     width: 100%;
//     padding: 0px;
//   }

//   li p {
//     transform: translateY(-10px);
//     opacity: 0;
//     padding: 0 20px;
//     transition: 1.5s;
//   }

//   .date {
//     opacity: 0;
//     transition: 1.5s;
//     font-size: 20px;

//     position: absolute;
//     top: -70px;
//     left: 35%;
//   }

//   /* #double-date{
//         left: 80px;
//     } */

//   .timeline-point {
//     width: 15px;
//     height: 15px;

//     top: -25px;
//     left: 40%;
//     transition: 2.5s ease;
//   }

//   .timeline-line {
//     width: 100%;
//     height: 4px;
//   }

//   .timeline-innerline {
//     position: absolute;
//     background: blue;
//     width: 0%;
//     height: 4px;

//     top: 0%;
//     left: 0%;

//     transition: 1s ease-out;
//     border-radius: 999px;
//   }
// }