$active-link: #33bbce;
$sub-text: #0ac1d9;



.contact {
    background-color: #13182e;
    background-image: linear-gradient(45deg, #101220 0%, #162834 100%);
    .links {
            font-size: 35px;
            max-width: 200px;
            justify-content: space-around;
        }
}

/* .contact>.content-container{
    flex-direction: row-reverse;
} */




#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field {
    margin-bottom: 10px;
    input,
    textarea {
        display: block;
        min-width: 250px;
        line-height: 1.5;
        font-size: 14px;
    
        padding: 4px;
        border: none;
        border-radius: 2px;
    }

    textarea:focus,
    input:focus {
        border: 2px solid #13d0e9;
    }   
}





input[type="submit"] {
    /* display: block; */
    padding: 6px 0px;
    font-size: 14px;
    font-weight: bold;
    background-color: $active-link;
    text-align: center;
    color: rgb(25 27 38);
    border: none;
    border-radius: 2px;
    width: 50%;
    /* align-self: flex-start; */
}

input[type="submit"]:hover {
    color: #fff;
    background-color: rgb(209, 143, 44);

}

input[type="submit"]:active {
    background-color: rgb(140, 88, 11);
}


.contact-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.email {
    min-width: 250px;
    max-width: 350px;

    p {
        color: $sub-text;
    }
}






.line-4 {
    cursor: default;
    white-space: nowrap;
    /* keep text in one line */
    overflow: hidden;
    /* hide text behind the cursor */
    margin: 1rem auto;
    // font-family: "Major Mono Display", monospace;
    font-size: 0.9rem;
    font-weight: bold;
    color: $animation-collor;



    animation: animated-text__2 5s steps(29, end) 1s 1 normal both;
        // -webkit-animation-delay: 3s;
        // animation-delay: 3s;
        // filter: drop-shadow(1px 1px 5px rgb(0, 0, 0))

}
.line-5{
    @extend .line-4;
    animation: animated-text__2 5s steps(29, end) 1s 1 normal both;
        -webkit-animation-delay: 6.5s;
        animation-delay: 6.5s;
}

.links-portrait{
    margin:-5vh 0px;
}

/* #line-1 {
    animation: animated-text__1 4s steps(21, end) 1s 1 normal both;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }
   */


