$home-background:#1c1c1c;
$welcoming-color:#5fcedc;
$animation-collor:#0ac1d9;

.home {
    background-color: $home-background;

}

.profile-pic {
    width: 50%;
    /* position: relative;
  align-self: flex-end; */

}

.profile-pic{
    img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }
}




.welcoming {
    font-family: 'Unbounded', cursive;
    font-size: 2rem;
    font-weight: bolder;
    color: $welcoming-color;
}

#line-1,
#line-2,
#line-3 {
    white-space: nowrap;
    /* keep text in one line */
    overflow: hidden;
    /* hide text behind the cursor */
    margin: 1rem auto;
    font-family: "Major Mono Display", monospace;
    font-size: 1.2rem;
    font-weight: bold;
    color: $animation-collor;
    
}

/* #line-1 {
    animation: animated-text__1 4s steps(21, end) 1s 1 normal both;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }
   */
#line-2 {
    animation: animated-text__2 5s steps(29, end) 1s 1 normal both;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    filter: drop-shadow(1px 1px 5px rgb(0, 0, 0))
}

#line-3 {
    visibility: hidden;
}






.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 15px;

}

.arrows path {
    stroke: #0ac1d9;
    fill: transparent;
    stroke-width: 2px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes arrow

/*Safari and Chrome*/
    {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

.arrows {
    animation-delay: 4.7s;
    -webkit-animation-delay: 4.7s;
    /* Safari  Chrome */
}

.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
    /* Safari  Chrome */
}

.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
    /* Safari  Chrome */
}

.arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    /* Safari  Chrome */
}