// $sub-text: #dcf9fc;
$main-title: #edb15d;
.projects {
    background-color: #2a2c3a;
    background-image: linear-gradient(45deg, #1C1C1C 0%, #0f1b1e 100%);
    background-image: -moz-linear-gradient(45deg, #1C1C1C, #0f1b1e);
    // position: relative;
    overflow: auto;
    overscroll-behavior-y: none;
}

.works-description{
    // max-width: 30vw;
    // font-weight: 400;
    padding: 0px 2.5px;
    font-size: 0.9rem;
    color:whitesmoke;
    text-wrap:balance;
}







// .project-slider {

//     display: flex;
//     align-items: center;
//     overflow: hidden;

// }

// .carousel {
//     height: 100%;
//     min-width: 100%;
//     width: 50%;
// }

// .carousel-control-next,
// .carousel-control-prev {
//     width: 7%;
// }

// .carousel-item {
//     position: relative;

//     img {
//         height: 50vmin;
//         width: max-content;
//         border-radius: 3px;
//     }

// }



// .carousel-item:hover 









.slider-container {
    // width: 50%;
    // max-width: 50vw;
    // max-height: 35vh;
    display: flex;
    position: relative;
    box-sizing: border-box;
    // aspect-ratio: 9/3;
    // height: calc(45vw/1.94); //aspect ratio ~ 4:2
  
}

.slider {
    font-family: "Roboto", sans-serif; 
    color: black;

    // max-height: 35vh;
    width: 100%;
    max-width: 100%;
    min-width: 100%;

    display: flex;
    overflow-x: auto;
    overflow-y: hidden;


    scroll-snap-type: x mandatory;
}

.slider__slide {
    height: 100%;
    min-width: 100%;
    width: 100%;
    font-size: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;


    scroll-snap-align:center ;


}

.slider__slide:hover{
    // opacity: 0.1;
    // filter: blur(2px);
    // background-filter: blur(3px);
    // img {
    //     opacity: 0.1;
    //     filter: blur(3px);
    // }
        // #salem #trello #trivia #frog{
            
        // }

    .details {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.5);
            // background-color: rgba(0, 0, 0, 0.7);
        // filter: blur(3px);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        -moz-background-filter: blur(3px);
      
    }
   

.fake-left-arrow,
.fake-right-arrow{
     display: none
 }
}

#flymetothemoon{
    border-radius: 3px;
    background: url(../assets/img/FlyMe2TheMoon.JPG)no-repeat center ;
    // background-size: contain;
    background-size: 100% 100%;
}
#salem {
    z-index: 0;
    border-radius: 3px;
    background: url(../assets/img/salem.jpg)no-repeat center ;
    // background-size: contain;
    background-size: 100% 100%;
}
#coinbase{
    border-radius: 3px;
    background: url(../assets/img/coinbase.jpg) no-repeat center;
    // background-size: contain;
    background-size: 100% 100%;
}
#trello{
    border-radius: 3px;
background: url(../assets/img/trello.jpg) no-repeat center;
// background-size: contain;
background-size: 100% 100%;
}

#trivia{
    border-radius: 3px;
background: url(../assets/img/trivia.jpg) no-repeat center;
// background-size: contain;
background-size: 100% 100%;
}
#frog{
    border-radius: 3px;
background: url(../assets/img/theFrog.jpg) no-repeat center;
// background-size: contain;
background-size: 100% 100%;
}


.slide_content{

    height:100%;
    width:100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    // background-clip: padding-box;
   
    // position: relative;
    
    // img{
    //     // border-radius: 3px;
    //     // height:100%;
    //     // min-height: 100%;
    //     // width:100%;
    //     // min-width: 100%;
    //     // // position: relative;
    //     // // top: 50%;
    //     // z-index:120;
    // }

    .details { 
        font-size: 1rem;
        width: 100%;
        min-height: 100%;
        max-height: 100%;
        height: 100%;

        padding:10px 0 10px 0;

        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;

        transition: .5s ease;
        opacity: 0;

        color: whitesmoke;
        padding: 5px 20px;
        text-wrap: balance;

        
        h2,p {
            cursor: default;
        }
    }
}






/* Arrows */
.right-arrow,
.left-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 35px;
    // background-color: black; 
    cursor: pointer;
}

.right-arrow {
    right: 0rem;
}

.left-arrow {
    left: 0rem;
}

/*Arrows Drawing*/
.right-arrow::before {
    transform: rotate(45deg);
    right: 0px;
}

.right-arrow::after {
    transform: rotate(-45deg);
    bottom: 14px;
    right: 0px;
}


.left-arrow::before {
    transform: rotate(-45deg);
    left: 0px;
}

.left-arrow::after {
    transform: rotate(45deg);
    bottom: 14px;
    left: 0px;
}


.right-arrow::before,
.right-arrow::after,
.left-arrow::before,
.left-arrow::after {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
        rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
        rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    content: "";
    position: absolute;
    width: 25px;
    height: 10px;
    background-color: white;
}

.fake-right-arrow{
    @extend .right-arrow;
    display: block;
}
.fake-left-arrow{
    @extend .left-arrow;
    display: block;
}

/* Hide the scrollbar */
.slider::-webkit-scrollbar {
    display: none;
    /* Safari, Google Chrome, Opera,  */
    scrollbar-width: none;
}
.slider{
    scrollbar-width: none;
}


.project-open{
    cursor: pointer;
}


//------------------------------
//      PROJECT MODAL
//------------------------------
.projects-overlay{
    display: none;
}


.projects-modal{
    @extend .about-modal;
    width:50dvw;
    max-width: 99dvw;
    height: 99dvh;
    overflow-x: hidden;
    padding: 0px; 
    background-image:none;
    // background-color: rgba(130, 130, 130, 0.5)
    background-image: linear-gradient(120deg, rgba(37, 42, 49, 0.578) 0%, rgba(28, 34, 39, 0.578) 90%);
    // background-color: rgba(69, 69, 69, 0.5)
    // backdrop-filter: blur(8px);
  }

.project-modal-content-wrappera{
    // background-color: rgb(35 44 52);
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    min-width: 100%;
    max-width: 100%;
    font-family: 'Unbounded', cursive;
    overflow-x: hidden;
    overscroll-behavior-x: none;
}



.project-modal-header-wrapper{
    max-width: 100%;
    min-width: 95%;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    z-index: 1
}

#pseudo-first-box{
    width:5%
}

.close-btn-wrapper{
    // border:1px solid red;
    width:5%;
    // margin-right: 1vw;
}
#close-project-btn{
    padding-left: 40%;
    font-size: xx-large;
}

.project-modal-header{
    padding: 5px 40px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    
     box-shadow:rgba(0, 0, 0, 0.3) 0px 5px 10px 5px;
     background-image: linear-gradient(120deg, rgba(40, 42, 49, 0.578) 0%, rgba(15, 19, 23, 0.578) 90%);
      background-color: rgba(40, 40, 40, 0.975);
    //  background-color: rgba(50, 57, 62, 0.975);

    min-width:96%;
    max-width: 90%;
    border-radius: 15px;
}


.toggle-button {
    position: absolute;
    right: 1rem;
    top:1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    
    width: 30px;
    height: 21px;

    .bar {
        height: 3px;
        width: 100%;
        background-color: white;
        border-radius: 10px;
    
        transition: transform 300ms ease 0s, background-color 0s cubic-bezier(0.6, 0, 0.15, 1) 0s;
    }
}






.header-navigation{
    list-style-type: none;
    margin: 0;
    padding: 0;
  
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    row-gap: 10px;
    flex-direction: row;

    height: 40px;

    transition: transform 900ms ease 0s, 0s cubic-bezier(0.6, 0, 0.15, 1) 0s;
}

.nav-item, .nav-item>a{
    color:white;
    padding: 0px 0.75rem;
    cursor: pointer;
    a{
        text-decoration: none;
    }
}

.nav-item-main{
    h1{
        font-size: 1.4rem;
        color:$main-title;
        font-family: 'Unbounded', cursive;
        font-weight: bolder;
        cursor: default;
    }
}

.tiles-wrapper{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows: auto 2fr 3fr;
    grid-column-gap: 0px;
    grid-row-gap: 5px;

    justify-items: center;
    align-items: end;

    overflow-y: scroll;
    overflow-x: hidden;
    overscroll-behavior-y: none;
    scroll-behavior: smooth;

    // z-index: -2;

    height: 100%;
    width: 100%;

    margin-top: -65px;
    padding-top: 65px
}


.tile{
    width: 90%;
    // height: 90%;
    // min-height: fit-content;
    // background: rgb(57,56,56);
    // background: linear-gradient(45deg, rgba(50, 57, 62, 0.19) 0%, rgba(176, 174, 172, 0.19) 37%, rgba(50, 57, 62, 0.19) 100%);
    background-color: rgba(13, 13, 13, 0.6);
    // backdrop-filter: blur(10px);
    // box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    // border: 1px solid rgba(255, 255, 255, 0.25);
    color: white;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    scroll-snap-align:center; //probably unnesseary

    .text-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // width: 90%;
        // height: 70%;
        // min-height: 99%;
    }
    h1{
        margin-top: 10px;
    }

    ul{
        padding-left: 0.5rem;
        color:white;
        font-family: "Roboto", sans-serif;
    //   color:white;  font-style: normal;
    }
    .parent-list-item{
      font-family: "Unbounded", cursive;;
      color: #f5cf9a;
      text-align: start;
      font-weight: 500;
      margin-top: 5px;
    }
    .child-list-item{
        margin-left: 5px;
    }

}




.overview{
    grid-area: 1/ 2 / 2 / 3; 
    justify-self: start;
    .text-wrapper{
        
        p{
            font-weight: 100;
            letter-spacing: 1px; 
            font-family: "Roboto", sans-serif
        }
    }
}


.highlights{
    
    grid-area: 1 / 1 / 3 / 2; 
    justify-self: end;

    .text-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
           p{
            font-weight: 100;
            letter-spacing: 1px; 
            // font-family: "Major Mono Display", monospace;
            font-family: "Roboto", sans-serif
            
        }

    }
}

.tools{
    grid-area: 2 / 2 / 3 / 3 ;
    justify-self: start;
    .tools-wrapper{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        color: $main-title;
        .tool-title-wrapper{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content:start;
            align-items: center;
            width: fit-content;
            margin-bottom: 5px;
        
            .tool-name{
                color: white;
                transition: all 0.25s ease-in;
            }
            .tool-icon{
                font-size: x-large;
            }
        }
    }
}

.screenshot{
    grid-area: 3 /1 / 4 / 4 ;
    padding: 0;
   
    // height: 75dvh;
    img{
        height: 100%;
        width: 100%;
        max-height: 100%;
        max-width: 100%;
        border-radius: 15px;
    }

    .project-screenshots-slider-container{
        display: flex;
        position: relative;
        box-sizing: border-box;
        height: calc(90vw/1.94);
        width: 100%;
       
        
        .project-screenshots-slider{
            width: 100%;
            max-width: 100%;
            min-width: 100%;
            
            display: flex;
            overflow-x: auto;
            overflow-y: hidden;
            
            scroll-snap-type: x mandatory;
        
            .project-screenshots-slider__slide {
                height: 100%;
                min-width: 100%;
                width: 100%;
                font-size: 3rem;
            
                display: flex;
                justify-content: center;
                align-items: center;
                justify-content: center;
            
            
                scroll-snap-align:center ;
                /* background-color: red; */
                .project-screenshots-slide_content{

                    height:100%;
                    width:100%;
                
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                   
                }
                
            }
        }
        
    }



    /* Arrows */
    .project-screenshots-right-arrow,
    .project-screenshots-left-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 35px;
        /* // background-color: black;  */
        cursor: pointer;
    }

    .project-screenshots-right-arrow {
        right: 0rem;
    }

    .project-screenshots-left-arrow {
        left: 0rem;
    }

    /*Arrows Drawing*/
    .project-screenshots-right-arrow::before {
        transform: rotate(45deg);
        right: 0px;
    }

    .project-screenshots-right-arrow::after {
        transform: rotate(-45deg);
        bottom: 14px;
        right: 0px;
    }


    .project-screenshots-left-arrow::before {
        transform: rotate(-45deg);
        left: 0px;
    }

    .project-screenshots-left-arrow::after {
        transform: rotate(45deg);
        bottom: 14px;
        left: 0px;
    }


    .project-screenshots-right-arrow::before,
    .project-screenshots-right-arrow::after,
    .project-screenshots-left-arrow::before,
    .project-screenshots-left-arrow::after {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
            rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
            rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        content: "";
        position: absolute;
        width: 25px;
        height: 10px;
        background-color: white;
    }

    /* .fake-right-arrow{
        @extend .right-arrow;
        display: block;
    }
    .fake-left-arrow{
        @extend .left-arrow;
        display: block;
    } */


    /* Hide the scrollbar */
    .project-screenshots-slider::-webkit-scrollbar {
        display: none;
        /* Safari, Google Chrome, Opera,  */
        scrollbar-width: none;
    }
    .project-screenshots-slider{
        scrollbar-width: none;
    }
}