@media only screen and (orientation: portrait) {
  .content-container {
    flex-direction: column-reverse;
    width: 100vw;
    min-width: 100vw;
  }
  .about > .content-container,
  .projects > .content-container {
    flex-direction: column-reverse;
    width: 100vw;
  }
  .contact .content-container {
    flex-direction: column;
    width: 100vw;
  }
  .home > .content-container,
  .contact > .content-container {
    flex-direction: column;
    width: 100vw;
    padding-right: 0px;
  }
  .home .content-container {
    justify-content: flex-start;
  }
  .about-text {
    font-size: 4vmin;
    width: 85vw;
    text-align: justify;
    margin-top: -13vh;
  }
  .modal {
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
    width: 90vw;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
  .timeline-container {
    display: none;
  }
  .project-slider {
    /*important! Prevent from jumping while sliding*/
    height: 50vmin;
    max-width: 95vw;
    min-width: 95vw;
    margin-top: -13vh;
  }
}
@media only screen and (orientation: landscape) {
  .content-container {
    flex-direction: row;
    width: 98vw;
  }
  .project-slider {
    /*important! Prevent from jumping while sliding*/
    height: 50vmin;
    max-width: 53vw;
    min-width: 53vw;
  }
  .welcome-wrapper {
    max-height: 98vh;
  }
  .main-title-secondary {
    margin-left: -50px;
  }
  .info {
    max-width: 50vw;
  }
  .about-text {
    width: 50vw;
    text-align: center;
    font-size: 3vmin;
    text-align: justify;
  }
  .modal {
    top: 50%;
    left: 50%;
    height: -moz-fit-content;
    height: fit-content;
    width: 50vw;
    max-height: 98vh;
  }
  .timeline-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
/*Mobile phone vertical*/
@media only screen and (max-width: 540px) {
  .welcome-wrapper {
    margin-top: 20px;
    position: relative;
    z-index: 1;
    height: 60vh;
  }
  .welcome-wrapper > .main-title {
    min-width: 100vw;
    max-width: 100vw;
  }
  .welcome-wrapper > .main-title > h1 {
    font-size: 12vmin;
  }
  .welcoming {
    visibility: hidden;
  }
  .profile-pic {
    position: absolute;
    top: 70%;
    left: 102.5%;
    transform: translate(-50%, -50%);
    height: 100%;
    min-width: 150%;
  }
  .wrapper {
    padding-left: 5vw;
    text-align: start;
    position: absolute;
    bottom: 50px;
    min-width: 90vw;
    max-width: 100vw;
    flex-direction: column;
  }
  .wrapper2 {
    margin-left: -10px;
    text-align: start;
    position: absolute;
    bottom: 0;
    min-width: 90vw;
    max-width: 100vw;
  }
  .wrapper > p {
    -webkit-margin-before: 0em;
            margin-block-start: 0em;
    -webkit-margin-after: 0em;
            margin-block-end: 0em;
  }
  .swiper-pagination,
  .swiper-pagination-clickable,
  .swiper-pagination-bullets,
  .swiper-pagination-vertical {
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100vw;
  }
  .swiper-pagination-vertical.swiper-pagination-bullets,
  .swiper-vertical > .swiper-pagination-bullets {
    top: 97%;
    left: 0.1%;
  }
  @keyframes animated-text__1 {
    from {
      width: 0;
    }
    to {
      width: 13rem;
    }
  }
  @keyframes animated-text__2 {
    from {
      width: 0;
    }
    to {
      width: 18rem;
    }
  }
  .content-container {
    width: 100vw;
  }
  .modal {
    font-size: 16px;
  }
}
/*Vertical Tablet*/
@media only screen and (min-width: 541px) {
  .home .content-container {
    flex-direction: column;
    width: 100vw;
    padding-right: 0px;
    justify-content: flex-start;
  }
  .welcome-wrapper {
    margin-top: 20px;
    position: relative;
    z-index: 1;
  }
  .profile-pic {
    position: absolute;
    top: 70%;
    left: 102%;
    transform: translate(-50%, -50%);
    height: 100vh;
    min-width: 150%;
  }
  .wrapper {
    margin-right: 15vw;
    display: flex;
    flex-direction: column;
  }
  .wrapper p {
    align-self: flex-start;
  }
  @keyframes animated-text__1 {
    from {
      width: 0;
    }
    to {
      width: 13rem;
    }
  }
  @keyframes animated-text__2 {
    from {
      width: 0;
    }
    to {
      width: 18rem;
    }
  }
  input[type=submit] {
    align-self: flex-start;
  }
}
/*horizintal tablet */
@media only screen and (min-width: 730px) {
  .content-container {
    flex-direction: row;
    padding-right: 2vw;
    width: 98vw;
  }
  .home > .content-container {
    padding-right: 0px;
    flex-direction: row;
    width: 100vw;
  }
  .profile-pic {
    height: 100%;
    left: 75%;
    top: 55%;
  }
  .welcome-wrapper {
    width: 50vw;
    padding-left: 30px;
  }
  .wrapper {
    width: 100%;
    height: 100%;
  }
  .modal {
    height: -moz-fit-content;
    height: fit-content;
    width: 50vw;
    font-size: 24px;
  }
  @keyframes animated-text__1 {
    from {
      width: 0;
    }
    to {
      width: 25rem;
    }
  }
  @keyframes animated-text__2 {
    from {
      width: 0;
    }
    to {
      width: 25rem;
    }
  }
  .projects {
    padding: 20px;
  }
  input[type=submit] {
    align-self: flex-start;
  }
}
.home {
  background-color: #1c1c1c;
}

.profile-pic {
  width: 50%;
  /* position: relative;
  align-self: flex-end; */
}

.profile-pic img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.welcoming {
  font-family: "Unbounded", cursive;
  font-size: 2rem;
  font-weight: bolder;
  color: #5fcedc;
}

#line-1,
#line-2,
#line-3 {
  white-space: nowrap;
  /* keep text in one line */
  overflow: hidden;
  /* hide text behind the cursor */
  margin: 1rem auto;
  font-family: "Major Mono Display", monospace;
  font-size: 1.2rem;
  font-weight: bold;
  color: #0ac1d9;
}

/* #line-1 {
    animation: animated-text__1 4s steps(21, end) 1s 1 normal both;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }
   */
#line-2 {
  animation: animated-text__2 5s steps(29, end) 1s 1 normal both;
  animation-delay: 3s;
  filter: drop-shadow(1px 1px 5px rgb(0, 0, 0));
}

#line-3 {
  visibility: hidden;
}

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 15px;
}

.arrows path {
  stroke: #0ac1d9;
  fill: transparent;
  stroke-width: 2px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.arrows {
  animation-delay: 4.7s;
  -webkit-animation-delay: 4.7s;
  /* Safari  Chrome */
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
  /* Safari  Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
  /* Safari  Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  /* Safari  Chrome */
}

h3 {
  color: #7bc5cf;
}

.about {
  background-color: #1a1c1e;
  background-image: linear-gradient(45deg, #1C1C1C 0%, #111c24 100%);
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-text {
  color: whitesmoke;
  font-family: "Unbounded", cursive;
  font-weight: 100;
}
.about-text .links {
  text-align: center;
  margin-top: 10vmin;
}
.about-text h3 {
  text-align: center;
  margin-bottom: 3vmin;
}

.strong {
  color: rgb(237, 129, 93);
}

.open {
  align-self: flex-start;
  border: none;
  background-color: transparent;
  color: white;
  font-weight: bold;
  padding: 2px;
}

.open:hover {
  color: #5fcedc;
}

.close {
  align-self: flex-end;
  border: none;
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
}

.close:hover {
  color: #5fcedc;
}

.modal {
  background-color: #13182e;
  background-image: linear-gradient(120deg, #2a2b32 0%, #222c33 100%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 7px;
  color: white;
  font-weight: normal;
  font-family: "Noto Sans Lepcha", sans-serif;
  text-align: justify;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 10px;
  display: flex !important;
  flex-direction: column;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(98, 96, 96, 0.3);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  z-index: 1000;
  display: none;
}

.fa-user-tie {
  font-size: x-large;
}

.timeline-container {
  margin-top: 30px;
  max-width: 100%;
  min-width: 100%;
  font-size: 0.7rem;
}

.timeline-arrow {
  height: 0.5px;
  width: 90px;
  background: linear-gradient(121.57deg, rgb(237, 129, 93) 70%, #7bc5cf 30.15%);
  margin: 0 10px;
}

.timeline-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timeline-item h3 {
  white-space: nowrap;
  font-weight: bold;
}
.timeline-item p {
  width: 150px;
  color: rgb(246, 232, 206);
}

.projects {
  background-color: #2a2c3a;
  background-image: linear-gradient(45deg, #1C1C1C 0%, #0f1b1e 100%);
  background-image: -moz-linear-gradient(45deg, #1C1C1C, #0f1b1e);
  position: relative;
}

.project-slider {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.carousel {
  height: 100%;
  min-width: 100%;
  width: 50%;
}

.carousel-control-next,
.carousel-control-prev {
  width: 7%;
}

.carousel-item {
  position: relative;
}
.carousel-item img {
  height: 50vmin;
  width: -moz-max-content;
  width: max-content;
  border-radius: 3px;
}

.carousel-item:hover.carousel-item img {
  opacity: 0.1;
}
.carousel-item:hover.carousel-item .details {
  opacity: 1;
}

.details {
  font-size: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  color: whitesmoke;
}
.details p {
  width: 90%;
}

.contact {
  background-color: #13182e;
  background-image: linear-gradient(45deg, #101220 0%, #162834 100%);
}

/* .contact>.content-container{
    flex-direction: row-reverse;
} */
#form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field {
  margin-bottom: 10px;
}
.field input,
.field textarea {
  display: block;
  min-width: 250px;
  line-height: 1.5;
  font-size: 14px;
  padding: 4px;
  border: none;
  border-radius: 2px;
}
.field textarea:focus,
.field input:focus {
  border: 2px solid #13d0e9;
}

input[type=submit] {
  /* display: block; */
  padding: 6px 0px;
  font-size: 14px;
  font-weight: bold;
  background-color: #33bbce;
  text-align: center;
  color: rgb(25, 27, 38);
  border: none;
  border-radius: 2px;
  width: 50%;
  /* align-self: flex-start; */
}

input[type=submit]:hover {
  color: #fff;
  background-color: rgb(209, 143, 44);
}

input[type=submit]:active {
  background-color: rgb(140, 88, 11);
}

.contact-title .links {
  font-size: 35px;
}

.email {
  min-width: 250px;
  max-width: 350px;
}
.email p {
  color: #0ac1d9;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  background: #202023;
  font-family: "Major Mono Display", monospace;
  font-weight: bold;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.parent-slider .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  box-sizing: border-box;
}

.content-container {
  height: 100%;
  resize: both;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.home,
.about,
.projects,
.contact {
  width: 100%;
  height: 100vh;
  display: flex;
}

/*Scroll-navbar*/
.swiper-pagination-bullet {
  margin-bottom: 30px;
  padding: 5px 10px;
  border-radius: 0;
  width: auto;
  height: 60px;
  color: #ffffff;
  opacity: 1;
  background: rgba(0, 0, 0, 0);
  font-family: "Unbounded", cursive;
  font-size: small;
}

.swiper-pagination-bullet-active {
  color: #ffffff;
  background: rgba(0, 0, 0, 0);
  font-family: "Unbounded", cursive;
  font-weight: 100;
  font-size: x-large;
  color: #5fcedc;
}

.main-title {
  position: relative;
  z-index: 1;
}

.main-title h1 {
  color: #edb15d;
  font-size: 12vmin;
  font-family: "Unbounded", cursive;
  font-weight: bolder;
}

.main-title > h3,
.main-title > h4 {
  color: #ed815d;
  font-family: "Unbounded", cursive;
  font-weight: bolder;
}

.links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.links a {
  color: whitesmoke;
  text-decoration: none;
}
.links a:hover {
  /* font-size: xx-large; */
  color: #5fcedc;
}
.links a:active {
  color: rgb(140, 88, 11);
  /* font-size: medium; */
}/*# sourceMappingURL=main.css.map */