*{
    margin: 0;
    padding:0;

}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }
  

html,
body{
    position:relative;
    height: 100%;
    width:100%;
    background:rgb(32 32 35);
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
}


@media only screen and (max-width: 600px){
    .content-container{
        flex-direction: column-reverse;
    }
    .contact>.content-container{
        flex-direction: column;
    }


}
.swiper-container {
    width: 100%;
    height: 100%;
}

/* .swiper-slide{
    width:100%
} */

.parent-slider>.swiper-wrapper>.swiper-slide {
    text-align: center;
    font-size: 18px;
    box-sizing: border-box;

    /* background: rgb(229, 13, 13); */
}


.page-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

   
} 
/* .carousel-item>img{
    height: auto;
    width:auto;

} */

.home,
.about,
.projects,
.contact{
    width: 100%;
    height: 100vh;
    display: flex;
}


/*Scrollbar*/
.swiper-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite, 
.swiper-pagination-progressbar.swiper-pagination-vertical, 
.swiper-vertical>.swiper-pagination-progressbar {
    position: absolute;
    left:98vw;
    top: 25%;
    height:50vh;
}


.swiper-pagination-bullet {
    margin-bottom: 30px;
	padding: 5px 10px;
	border-radius: 0;
	width: auto;
	height: 60px;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
	color:rgb(255, 255, 255);
	opacity: 1;
	background: rgba(0,0,0,0);


    font-family: 'Heebo', sans-serif;
    font-family: 'Unbounded', cursive;

    font-size: small;
}
.swiper-pagination-bullet-active {
	color:#fff;
	background: rgba(0,0,0,0);

    font-family: 'Heebo', sans-serif;
    font-family: 'Unbounded', cursive;

    font-size: large;
}


.home{
    background-color: #1C1C1C;
}

.about{
    background-color:#1a1c1e;
    background-image: linear-gradient(45deg, #2b2e31 0%, #1a1c1e 100%);
}

.projects{
    background-color: #2a2c3a;
    background-image: linear-gradient(45deg, #23242c 0%, #1a1b23 100%);
    
  

    /* flex-direction: row;
    justify-content: space-evenly;
    align-items: center; */

    padding: 20px;
   
    position: relative;

}

.content-container{
    height: 100%;
    width: 98vw;
    padding-right: 2vw;
    /* margin: 0 100px; */
    /* transform-origin:center center; */
    resize: both;
    /* resize: both;
    position: relative; */


    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* margin-left:100px; */
}



.main-title>h1{
    color: rgb(254 176 59);
    font-size: 15vmin;

    font-family: 'Heebo', sans-serif;
    font-family: 'Unbounded', cursive;
}




.project-slider{
    height: 50vmin;
    width:50%;
    min-width: 350px;
    min-height: 200px;
   
    /* min-width: 600px; */

    display: flex;
   
    align-items: center;
    overflow: hidden;

    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}

.carousel{
    height: 100%;
    width: 100%;
     /* width:50%; */
}

.carousel-control-next, .carousel-control-prev {
    width: 7%;
}

.carousel-item{
    position: relative;

}

.carousel-item>img{
    height: 50vmin;
    /* width:max-content; */
    border-radius: 3px;
}
.details{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;


    
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);


    color: whitesmoke;
}
.links>a{
    color: whitesmoke;
     text-decoration:none 
}

.links>a:hover{
    font-size: xx-large;
    color:rgb(254 176 59);
}

.links>a:active{
   color:rgb(140, 88, 11);
    font-size: medium;
}

.links{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}





.carousel-item:hover.carousel-item>img{
    opacity: 0.1;
}
.carousel-item:hover .details{

    opacity: 1;
}




.contact{
    background-color: #13182e;
    background-image: linear-gradient(45deg, #2b3147 0%, #171a24 100%);
} 

/* .contact>.content-container{
    flex-direction: row-reverse;
} */

.contact>h1{
    color:  #4460aa;;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.field {
    margin-bottom: 10px;
  }
    
  .field input,.field textarea {
    display: block;
    min-width: 250px;
    line-height: 1.5;
    font-size: 14px;

    padding: 4px;
    border: none;
    border-radius: 2px;
  }

  .field textarea:focus, .field input:focus {
    border: 2px solid rgb(254 176 59);;
  }
  
  input[type="submit"] {
    /* display: block; */
    padding: 6px 30px;
    font-size: 14px;
    background-color: #4460aa;
    color: #fff;
    border: none;
    border-radius: 2px;
    width:50%;
    align-self: flex-start;
  }

  input[type="submit"]:hover{
    background-color: rgb(209, 143, 44);
  }

  input[type="submit"]:active{
    background-color: rgb(140, 88, 11);
  }


.contact-title>.links{
    font-size:35px;
}




