*{
    margin: 0;
    padding:0;
    box-sizing: border-box;;
}

html,
body{
    position:relative;
    height: 100%;
    width:100%;
    background: #eee;
    overflow: hidden; 
}


.swiper-container {
    width: 100%;
    height: 100%;
}

.parent-slider>.swiper-wrapper>.swiper-slide {
    text-align: center;
    font-size: 18px;
    box-sizing: border-box;
    /* background: rgb(229, 13, 13); */
}

.page-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.home,
.about,
.projects,
.contact{
    width: 100%;
    height: 100vh;
    display: flex;
}

/*Scrollbar*/
.swiper-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite, 
.swiper-pagination-progressbar.swiper-pagination-vertical, 
.swiper-vertical>.swiper-pagination-progressbar {
    position: absolute;
    left:95%;
    top: 25%;
    height:50vh;
}


.home{
    background-color: #1C1C1C;
}

.about{
    background-color: #fff;
}

.projects{
    background-color: #92B7FF;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.project-slider{
    height: 50vh;
    width:50vw;
    background: #90a4ae;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.carousel{
    height: 100%;
    width: 100%;

}

/* .swiper-slide-next>.img{
    display: none;
} */
.contact{
    background-color: #000;
} 





