*{
    margin: 0;
    padding:0;

}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }
  

html,
body{
    font-family: "Major Mono Display", monospace;
    font-weight: bold;
    position:relative;
    height: 100%;
    width:100%;
    background:rgb(32 32 35);
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
}










@media only screen and (orientation: portrait){

  .content-container{
    flex-direction: column-reverse;
    min-width: 100vw;
    /* padding-right: 0; */
  }

  
  .about>.content-container,
  .projects>.content-container{
    flex-direction: column-reverse;
    width:100vw;
  }

  .contact>.content-container{
    width:100vw;
    flex-direction: column;
  }




  .home>.content-container,
  .contact>.content-container{
      flex-direction: column;
      padding-right: 0px;
      width: 100vw;
  }

  .home>.content-container{
    justify-content: flex-start;
  }

  .about-text{
    font-size:4vmin;
    width:85vw;
    text-align:justify;
    margin-top: -13vh
  }
   .modal{
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    height: 85vh;
    width: 90vw;

  }
  .project-slider{/*important! Prevent from jumping while sliding*/
    height: 50vmin;
    max-width:95vw;
    min-width:95vw;
  }
}







@media only screen and (orientation:landscape){
  .content-container{
    flex-direction: row;
    width:98vw;
  }
  .project-slider{/*important! Prevent from jumping while sliding*/
    height: 50vmin;
    max-width:53vw;
    min-width:53vw;
  }

  .welcome-wrapper{
    max-height: 98vh;
  }
  .main-title-secondary{
    margin-left: -50px;
  }
  .about-text{
    width:50vw;
    text-align: center;
    font-size:3vmin;
    text-align: justify;
  }
  .modal{
    top:50%;
    left:50%;
    height: fit-content;
    width: 50vw;
  }
}


/*Mobile phone vertical*/
@media only screen and (max-width: 540px){
    
  .welcome-wrapper{
    margin-top: 20px;
    position:relative;
    z-index: 1;
    height:60vh;
    } 
    .welcome-wrapper> .main-title{
      min-width: 100vw;
      max-width: 100vw;
    }
    .welcome-wrapper> .main-title >h1{
          font-size: 12vmin;
  }


  .profile-pic{
    position: absolute;
    top:70%; 
    left: 102.5%; 
      transform: translate(-50%,-50%); 
      height: 100%;
    min-width:150%;
  } 

  .wrapper{
    padding-left: 5vw;
    text-align: start;
    position: absolute;
    bottom: 50px;

    min-width: 90vw;
    max-width: 100vw;

    /* margin-right:15vw; */
    /* display: flex; */
    flex-direction: column;
  }

  .wrapper2{

    margin-left: -10px;
    text-align: start;
    position: absolute;
    bottom: 0;
    /* left:-12vw; */

    min-width: 90vw;
    max-width: 100vw;
  }

  .wrapper>p{
    margin-block-start: 0em;
    margin-block-end: 0em;
  }  



  .swiper-pagination, .swiper-pagination-clickable, .swiper-pagination-bullets, .swiper-pagination-vertical{
      padding:0 10px 0 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width:100vw;
  }

  .swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets {
      top:97%
  }

  @keyframes animated-text__1 {
    from {
      width: 0;
    }
    to {
      width: 13rem;
    }
  }
  
  @keyframes animated-text__2 {
    from {
      width: 0;
    }
    to {
      width: 18rem;
    }
  }
  .content-container{
    width: 100vw;
  }
}









/*Vertical Tablet*/
@media only screen and (min-width: 541px){

  .home>.content-container{
      flex-direction: column;
      padding-right: 0px;
      width: 100vw;
  }
  .home>.content-container{
    justify-content: flex-start;
  }
  .welcome-wrapper{
    margin-top: 20px;
    position:relative;
    z-index: 1;
    } 
    .profile-pic{
      position: absolute;
      top:70%;
      left: 102%;
      transform: translate(-50%,-50%);
      height: 100vh;
      min-width:150%;
    }
  .wrapper{
    margin-right:15vw;
    display: flex;
    flex-direction: column;
  }

  .wrapper>p{
    align-self: flex-start;
  }


  @keyframes animated-text__1 {
    from {
      width: 0;
    }
    to {
      width: 13rem;
    }
  }
  
  @keyframes animated-text__2 {
    from {
      width: 0;
    }
    to {
      width: 18rem;
    }
  }
  input[type="submit"] {

    align-self:flex-start;
  }
  
} 




/*horizintal tablet */
@media only screen and (min-width: 730px){
  .content-container{
    flex-direction: row;
    padding-right: 2vw;
  }
  
  .home>.content-container{
      flex-direction: row;
      padding-right: 0px;
      width: 100vw;
  }

   .profile-pic{
    /* min-width: 100%; */
    height: 100%;
    left:75%;
    top:55%

  }

  .welcome-wrapper{
    width:50vw;
    padding-left: 30px;
  }

  .wrapper {
    /* margin-top: 5%; */
    width: 100%;
    height: 100%;
  }


  .content-container{
    width: 98vw;
  }

  .modal{
    height: fit-content;
    width:50vw;
  }


  
  
  
  
  @keyframes animated-text__1 {
    from {
      width: 0;
    }
    to {
      width: 25rem;
    }
  }
  
  @keyframes animated-text__2 {
    from {
      width: 0;
    }
    to {
      width: 25rem;
    }
  }

  .projects{
    padding: 20px;
}
  input[type="submit"] {

    align-self:flex-start;
  }
}









.swiper-container {
    width: 100%;
    height: 100%;
}


.parent-slider>.swiper-wrapper>.swiper-slide {
    text-align: center;
    font-size: 18px;
    box-sizing: border-box;
}


.content-container{
    height: 100%;
    resize: both;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



.home,
.about,
.projects,
.contact{
    width: 100%;
    height: 100vh;
    display: flex;
}




/*Scroll-navbar*/
.swiper-pagination-bullet {
    margin-bottom: 30px;
	padding: 5px 10px; 
	border-radius: 0;
	width: auto;
	height: 60px; 
	color:rgb(255, 255, 255);
	opacity: 1;
	background: rgba(0,0,0,0);



    font-family: 'Unbounded', cursive;

    font-size: small;
}
.swiper-pagination-bullet-active {
	color:#fff;
	background: rgba(0,0,0,0);
 
    font-family: 'Unbounded', cursive;
    font-weight: 100;
    font-size: x-large;
    color:   #5fcedc   
   
}

.main-title{
  position: relative;
  z-index: 1;
}
.main-title>h1{
    color: rgb(237, 177, 93);
    font-size: 12vmin;
    font-family: 'Unbounded', cursive;
    font-weight: bolder;
}
.main-title>h3, .main-title>h4{
    color: rgb(237, 129, 93);
     font-family: 'Unbounded', cursive;
    font-weight: bolder;
}
/* .main-title-description{
    color:   #5fcedc  ;
} */


















.home{
    background-color: #1C1C1C;

}
.profile-pic{
  width:50%; 
  /* position: relative;
  align-self: flex-end; */
 
}

.profile-pic>img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}




.welcoming{
    font-family: 'Unbounded', cursive;
    font-size: 2rem;
    font-weight: bolder;
    color:   #5fcedc ; 
}

  #line-1,
  #line-2,
  #line-3 {
    white-space: nowrap; /* keep text in one line */
    overflow: hidden; /* hide text behind the cursor */
    margin: 1rem auto;
    font-family: "Major Mono Display", monospace;
    font-size: 1.2rem;
    font-weight: bold;
    color:   #0ac1d9;
    filter:drop-shadow(1px 1px 5px  rgb(0, 0, 0))
  }
  
  /* #line-1 {
    animation: animated-text__1 4s steps(21, end) 1s 1 normal both;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }
   */
  #line-2 {
    animation: animated-text__2 5s steps(29, end) 1s 1 normal both;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }

  #line-3{
    visibility: hidden;
  }


  
  


  .arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 15px;

  }
  
  .arrows path {
    stroke: #0ac1d9;
    fill: transparent;
    stroke-width: 2px;  
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
  }
  
  @keyframes arrow
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  @-webkit-keyframes arrow /*Safari and Chrome*/
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  .arrows{
    animation-delay:4.7s;
    -webkit-animation-delay:4.7s; /* Safari  Chrome */
  }
  .arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; /* Safari  Chrome */
  }
  
  .arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; /* Safari  Chrome */
  }
  
  .arrows path.a3 { 
    animation-delay:0s;
    -webkit-animation-delay:0s; /* Safari  Chrome */
  }



























.about{
    background-color:#1a1c1e;
    background-image: linear-gradient(45deg, #1C1C1C 0%, #111c24 100%);
}
.info{
  display: flex;
  flex-direction: column;
}

.about-text{
  color: whitesmoke;
  
  
  font-family: 'Unbounded', cursive;
  font-weight: 100;
  
}
.about-text>h3{
  text-align: center;
  margin-bottom: 3vmin;
  color:#7bc5cf
}

.about-text>.links{
  text-align: center;
  margin-top: 10vmin;
}
.strong{
  color: rgb(237, 129, 93)
}
.open{
  align-self: flex-start;
  border: none;
  background-color: transparent;
  color:white;
  font-weight: bold;
  padding: 2px;
}

.open:hover{
  color:#0ac1d9
}
.close{
  align-self: flex-end;
  border: none;
  background-color: transparent;

  font-weight: bold;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;

}


.modal{
  font-size: 1rem;
  font-weight: normal;
  background-color: #13d0e9;
  position: absolute;
  transform: translate(-50%,-50%);
  padding: 10px;

  display: flex!important;
  flex-direction: column;
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);

  z-index: 1000;
  display: none;
}

.fa-user-tie{
  font-size: x-large;
}





























.projects{
    background-color: #2a2c3a;
    background-image: linear-gradient(45deg, #1C1C1C 0%, #0f1b1e 100%);
    position: relative;
}





.project-slider{

    display: flex;
    align-items: center;
    overflow: hidden;

}

.carousel{
    height: 100%;
    min-width: 100%; 
    width:50%;
}

.carousel-control-next, .carousel-control-prev {
    width: 7%;
}

.carousel-item{
    position: relative;

}

.carousel-item>img{
    height: 50vmin;
    width:max-content;
    border-radius: 3px;
}
.details{
    font-size: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;


    
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);


    color: whitesmoke;
}
.details>p{
  width:90%
}
.links>a{
    color: whitesmoke;
     text-decoration:none 
}

.links>a:hover{
    /* font-size: xx-large; */
    color: #0ac1d9 ;
}

.links>a:active{
   color:rgb(140, 88, 11);
    /* font-size: medium; */
}

.links{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}





.carousel-item:hover.carousel-item>img{
    opacity: 0.1;
}
.carousel-item:hover .details{
    opacity: 1;
    backdrop-filter: blur(3px);
}




































.contact{
    background-color: #13182e;
    background-image: linear-gradient(45deg, #101220 0%, #162834 100%);
} 

/* .contact>.content-container{
    flex-direction: row-reverse;
} */


.contact>h1{
    color:  #4460aa;;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.field {
    margin-bottom: 10px;
  }
    
  .field input,.field textarea {
    display: block;
    min-width: 250px;
    line-height: 1.5;
    font-size: 14px;

    padding: 4px;
    border: none;
    border-radius: 2px;
  }

  .field textarea:focus, .field input:focus {
    border: 2px solid  #13d0e9  ;;
  }
  
  input[type="submit"] {
    /* display: block; */
    padding: 6px 0px;
    font-size: 14px;
    font-weight: bold;
    background-color: #33bbce  ;
    text-align: center;
    color: rgb(25 27 38);
    border: none;
    border-radius: 2px;
    width:50%;
    /* align-self: flex-start; */
  }

  input[type="submit"]:hover{
    color: #fff;
    background-color: rgb(209, 143, 44);
    
  }

  input[type="submit"]:active{
    background-color: rgb(140, 88, 11);
  }


.contact-title>.links{
    font-size:35px;
}
.email{
  min-width: 250px;
  max-width: 350px;
}

.email>p{
  color:#0ac1d9;
}








